<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Dare To Be Lean - Start Up Workshop 2013</title>
  <meta name="description" content="Join our team of Costa Rican Code Commandos for a startup workshop on the beach in Costa Rica!">
  <meta name="author" content="Agility Feat">

  <!-- CSS: implied media="all" --> 
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,800italic,700italic,400italic,300italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "style" %>
  
</head>

<body>
    <header>
		<div class="topBar">
        	<a href="http://www.AgilityFeat.com" class="agilityFeat"></a>
            <div class="menuWrap">
                <a class="btnSignup" href="#first">Sign Up</a>
                <a class="btnLearn" href="#second">About</a>
                <a class="btnWhen" href="#fourth">When and Where</a>
                <a class="btnTopSlide" href="#slideWrap">Costa Rica</a>
            </div>
        </div>
    </header>
  
  <div id="main" role="main">

	<!-- Section #Slide / Costa Rica -->    
	<section id="slideWrap" class="story">    
        <div class="d2blSlide" data-type="sprite" data-offsetY="0" data-Xposition="50%" data-speed="-2"></div>		
        <div class="slideNavWrap">
            <div class="normalFade" id="prev"></div>
            <div class="normalFade" id="next"></div>
        </div>
		<article>
        	<div id="pageContent" class="slideWrap">
            	<div class="slide01">
                	<span>You already know that Costa Rica is a great place to have your startup's web or mobile software developed...</span>
                </div>
            	<div class="slide02">
                	<span>... But did you know that Costa Rica also has beautiful beaches, rain forests, and diverse wildlife?</span>
                </div>
            	<div class="slide03">
                	<span>At DareToBeLean, you will learn a lot.  But our team of Costa Rican Code Commandos will make sure you have fun too!</span>
                </div>
            </div>
        </article>
	</section>

	<!-- Section #1-->    
	<section id="first" class="story learn" data-speed="-8" data-type="background">    	
        <div class="d2blLogo" data-type="sprite" data-offsetY="0" data-Xposition="50%" data-speed="-2"></div>		
        <div class="bgfirstB" data-type="sprite" data-offsetY="300" data-Xposition="50%" data-speed="4"></div>		
    	
        <article>
        	<div class="welcomeHeader"></div>
			<div class="shadow_midBrown shadowHide bgHide"></div>
        	
            
            <div class="homeWrap">
	            
                <!--Home Content Text-->
                <div class="homeLeft">
					<p>Does your startup <span class="highlight">have what it takes to be truly lean?</span> Join our team of Costa Rican Code Commandos and find out!</p>
					<p><span class="highlight">Jan 9th - 10th 2013 in Costa Rica</span></p>
					<p><a target="_blank" href="http://www.AgilityFeat.com/"><span class="highlight">AgilityFeat</span></a> is hosting a <span class="highlight">workshop for entrepreneurs</span> on the Pacific Coast of <span class="highlight">Costa Rica</span>. During this hands on workshop you will learn how to apply Lean, Agile, UX, and Nearshore techniques to build your startup’s <span class="highlight">Minimum Viable Product</span>.</p>
					<p>Workshop leaders include <span class="highlight">Patrick Vlaskovits, co-author of</span> <a target="_blank" href="http://custdev.com/The-Lean-Entrepreneur/">the Lean Entrepreneur and the Entrepreneurs Guide to Customer Development</a>.  The workshops will cover a variety of business, technical and management topics, all laser-focused on what your startup needs to know!</p>
					<p><a target="_blank" href="https://d2bl2013.busyconf.com/bookings/new"><span class="highlight">Registration</span></a>&nbsp;&nbsp;<a target="_blank" href="http://d2bl2013.busyconf.com/schedule/full"><span class="highlight">Schedule</span></a>&nbsp;&nbsp;<a target="_blank" href="http://www.tamarindodiria.com/en/"><span class="highlight">Location</span></a><!--&nbsp;&nbsp;<a target="_blank" href=""><span class="highlight">Travel Tips</span></a>&nbsp;&nbsp;-->
				</div>
				<!--Home Content Text-->
                
                <!--Early Big Wrap-->
                <div class="homeRight">
                    <p><span class="big">Registration is open!</span><br/>
                    Join our team for the<br/>best software workshop you'll ever go<br/>
                    to with sand in your toes!</p>
                    <a target="_blank" href="https://d2bl2013.busyconf.com/bookings/new" class="registerBtn"></a>


					<!--SUBMIT FORM-->
					<br/>
					<br/>
		            <span class="highlight">or Sign Up for more info</span><br/>
					<div class="newsWrapRt">
	                <form method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup4582" accept-charset="UTF-8" onsubmit="return verifyRequired4582();" >
						<input type="hidden" name="redirect" value="http://D2BL2013.com/landing/thanks">
						<input type="hidden" name="errorredirect" value="http://www.icontact.com/www/signup/error.html">
	                    <input type="text" name="fields_email">
						<input type="hidden" name="listid" value="48291">
					    <input type="hidden" name="specialid:48291" value="S0QU">

					    <input type="hidden" name="clientid" value="1114384">
					    <input type="hidden" name="formid" value="4582">
					    <input type="hidden" name="reallistid" value="1">
					    <input type="hidden" name="doubleopt" value="1">
						<br/>
	                    <input class="textSubmit" name="Submit" type="submit" value="">
	                </form>
					</div>
		            <!--SUBMIT FORM-->
                </div>
            	<!--//Early Big Wrap-->
                
            </div>
            
            <div class="clearfix"></div>
		
            <div class="shadow_midBrown"></div>

			<script type="text/javascript">

			var icpForm4582 = document.getElementById('icpsignup4582');

			if (document.location.protocol === "https:")

				icpForm4582.action = "https://app.icontact.com/icp/signup.php";
			function verifyRequired4582() {
			  if (icpForm4582["fields_email"].value == "") {
			    icpForm4582["fields_email"].focus();
			    alert("The Email field is required.");
			    return false;
			  }


			return true;
			}
			</script>
            
        </article>
        
	</section>

	<!-- Section #2 -->
	<section id="second" class="story ideas" data-speed="-8" data-type="background">
        <div class="learnHeader" data-type="sprite" data-offsetY="-385" data-Xposition="50%" data-speed="-2"></div>		
    	<article>
			<div class="shadow_midGrey"></div>
			<p><span class="highlight">Learn from Startup and Software Experts!</span></p>
            
			<p>How do you know your startup is building the <span class="highlight">right product</span>?  How do you know you have targeted the <span class="highlight">right customers</span>? Day 1 of DareToBeLean will be a full day workshop on Customer Development from <span class="highlight">leading expert Patrick Vlaskovits</span>, co-author of</span> <a target="_blank" href="http://custdev.com/The-Lean-Entrepreneur/">the Lean Entrepreneur and the Entrepreneurs Guide to Customer Development</a>.</p>
            
            <p>Now that you know you've got the right product and the right customers ... how are you going to <span class="highlight">build that product in the most efficient way</span>? Day 2 of DareToBeLean will teach you everything you need to know about Agile processes like <span class="highlight">Scrum and Kanban</span>, Agile Engineering techniques like <span class="highlight">Test Driven Development and Continuous Integration</span>, and <span class="highlight">Nearshoring</span> techniques to build your product using a distributed team in Latin America.</p>

			<p><p><a target="_blank" href="https://d2bl2013.busyconf.com/bookings/new"><span class="highlight">Join us</span></a> for one or both days, and you're welcome to stick around longer to enjoy the beauty of Costa Rica!</p>
			<div class="shadow_midGrey"></div>
                       
            <div class="speakers">
				<a target="_blank" href="http://d2bl2013.busyconf.com/schedule/full" class="schedule"></a>
			    <div class="headShots">
			    	<div class="imgWrap">
			        	<img src="assets/PatrickVlaskovits.jpg" alt="Patrick Vlaskovits, author or The Lean Entrepreneur and the Entrepreneur's Guide to Customer Development"/>
						<span>Patrick Vlaskovits, Customer Development</span>
					</div>
					<div class="imgWrap">
			        	<img src="assets/ArinSime.jpg" alt="Arin Sime, Agile Development and Entrepreneur"/>
						<span>Arin Sime, Agile Development and Entrepreneur</span>
					</div>
					<div class="imgWrap">
			        	<img src="assets/DavidAlfaro.jpg" alt="David Alfaro, Agile Development and Nearshoring"/>
						<span>David Alfaro, Agile Development and Nearshoring</span>
					</div>
					<div class="imgWrap">
			        	<img src="assets/MarianaLopez.jpg" alt="Mariana Lopez, Lean User eXperience"/>
						<span>Mariana Lopez, Lean User eXperience</span>
					</div>
					<div class="imgWrap">
			        	<img src="assets/AndreaPhillips.jpg" alt="Andrea Phillips, Code Commando"/>
						<span>Andrea Phillips, Code Commando</span>
					</div>
					<div class="imgWrap">
			        	<img src="assets/DanielPhillips.jpg" alt="Daniel Phillips, Visual Designer"/>
						<span>Daniel Phillips, Visual Designer</span>
					</div>	
				</div>
			</div>          
                        
    	</article>
	</section>

	<!-- Section #4 -->
	<section id="fourth" class="story" data-speed="-8" data-type="background" data-offsetY="250">
        <div class="smashinglogoC" data-type="sprite" data-offsetY="-780" data-Xposition="50%" data-speed="-2"></div>		
    	<article>
			<div class="shadow_midGreen"></div>
            	<p><span class="highlight">Wed. Jan 9th - Thu. Jan 10th 2013</span></p>
				<p><a target="_blank" href="http://www.tamarindodiria.com/en/"><span class="highlight">Tamarindo Diria Beach & Golf Resort</span></a></p>
				<p>Tamarindo, Costa Rica (near the Liberia airport)</p>
				<p><span class="highlight">Optional Fri. Jan 11th for group tourism!</span></p>
				
				<div class="imgHolder">
					<!--PLACE IMAGES HERE AT 200px by 300px-->
					<img src="assets/tamarindo-beach-dear-to-be-lean.jpg" alt="tamarindo beach costa rica"/>
					<img src="assets/tamarindo-diria-beach.jpg" alt="tamarindo beach costa rica"/>
					<img src="assets/tamarindo-diria-surf.jpg" alt="tamarindo beach costa rica"/>
				</div>
				
				<p>DareToBeLean will be held at one of the most beautiful beaches in Central America, right on the Pacific Coast of Costa Rica! Reserve your room soon so that you can stay on-site with us right at the workshop.  We can help you find other locations if it sells out, but this is a great time of year to visit Costa Rica, so don't wait to <a target="_blank" href="https://d2bl2013.busyconf.com/bookings/new"><span class="highlight">register today</span></a>!</p>
 				<p>We’ll make sure you have a great time at DareToBeLean, and when you leave you will be fully armed to <span class="highlight">make your MVP a success!</span></p>
                <p><a target="_blank" href="http://d2bl2013.busyconf.com/schedule/full"><span class="highlight">Check out the great schedule </span></a> that we have lined up for you.</p>
				<p><span class="highlight">Patrick Vlaskovits, author of</span> <a target="_blank" href="http://custdev.com/The-Lean-Entrepreneur/">the Lean Entrepreneur and the Entrepreneurs Guide to Customer Development</a>, will be leading a workshop on January 9th to help you learn how to build exactly what your customer wants!  Attend DareToBeLean and get a free copy of his book!</p>
				<p>In addition to Patrick, we have a great lineup of sessions on lean startups, agile, scrum, user experience, A/B testing, automated testing, nearshoring, and everything else you need to know.  Read more about the <a target="_blank" href="http://d2bl2013.busyconf.com/schedule/full"><span class="highlight">schedule</span></a> and <a target="_blank" href="https://d2bl2013.busyconf.com/bookings/new"><span class="highlight">register today</span></a>!</p>
			<div class="shadow_midGreen"></div>

    	</article>
	</section>	


	<!-- Section #5 / The End-->
	<!--<section id="footer" class="story" data-speed="-8" data-type="background" data-offsetY="250">    	
		<div class="footerWrap" data-type="sprite" data-offsetY="-1600" data-Xposition="50%" data-speed="-2"></div>	
	</section>-->
	
  </div> <!-- // End of #main -->



  <!-- Our Javascript, starting with jQuery -->
  <%= javascript_include_tag "libs/jquery-1.6.1.min.js" %>
  <%= javascript_include_tag "plugins" %>
  <%= javascript_include_tag "script" %>
  <!--[if lt IE 7 ]>
	<%= javascript_include_tag "libs/dd_belatedpng.js" %>
    <script>DD_belatedPNG.fix("img, .png_bg");
  <![endif]-->

</body>
</html>