<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Dare To Be Lean - Start Up Workshop 2013</title>
  <meta name="description" content="How to create a parallax scrolling effect with jQuery, HTML and CSS">
  <meta name="author" content="Agility Feat">

  <!-- CSS: implied media="all" --> 
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,800italic,700italic,400italic,300italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "style" %>
  
</head>

<body>
    <header>
		<div class="topBar">
        	<a href="http://www.AgilityFeat.com" class="agilityFeat"></a>
            <div class="menuWrap">
                <a class="btnSignup" href="#first">Sign Up</a>
                <a class="btnLearn" href="#second">About</a>
                <a class="btnIdeas" href="#third">Share Ideas</a>
                <a class="btnWhen" href="#fourth">When and Where</a>
                <a class="btnTopSlide" href="#slideWrap">Costa Rica</a>
            </div>
        </div>
    </header>
  
  <div id="main" role="main">

	<!-- Section #Slide / Costa Rica -->    
	<section id="slideWrap" class="story">    
        <div class="d2blSlide" data-type="sprite" data-offsetY="0" data-Xposition="50%" data-speed="-2"></div>		
		<article>
        	<div class="slideWrap">
				<%= image_tag "slide02.jpg", :alt => "slid#1" %>
				<%= image_tag "slide03.jpg", :alt => "slid#2" %>
				<%= image_tag "slide04.jpg", :alt => "slid#3" %>
            </div>
        </article>
		
	</section>


	<!-- Section #1-->    
	<section id="first" class="story learn" data-speed="-8" data-type="background">    	
        <div class="d2blLogo" data-type="sprite" data-offsetY="0" data-Xposition="50%" data-speed="-2"></div>		
        <div class="bgfirstB" data-type="sprite" data-offsetY="300" data-Xposition="50%" data-speed="4"></div>		
    	
        <article>
        	<div class="welcomeHeader"></div>
			<div class="shadow_midBrown shadowHide bgHide"></div>
        	<p>Does your startup <span class="highlight">have what it takes to be truly lean?</span> Join our team of Costa Rican Code Commandos and find out!
</p>
            <p><span class="highlight">AgilityFeat</span> is hosting a <span class="highlight">3 day workshop</span> in 2013 for select entrepreneurs on the Pacific Coast of <span class="highlight">Costa Rica</span>. 
At this workshop we will show you how to apply Lean, Agile, UX, and Nearshore techniques to build 
your startup’s <span class="highlight">Minimum Viable Product</span>.</p>
			<div class="shadow_midBrown"></div>
            
            <!--SUBMIT FORM-->
            <div class="newsWrap">
                <span>Sign Up for exclusive news</span>
                <form method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup4582" accept-charset="UTF-8" onsubmit="return verifyRequired4582();" >
					<input type="hidden" name="redirect" value="http://www.icontact.com/www/signup/thanks.html">
					<input type="hidden" name="errorredirect" value="http://www.icontact.com/www/signup/error.html">
                    <input type="text" name="fields_email">
					<input type="hidden" name="listid" value="48291">
				    <input type="hidden" name="specialid:48291" value="S0QU">

				    <input type="hidden" name="clientid" value="1114384">
				    <input type="hidden" name="formid" value="4582">
				    <input type="hidden" name="reallistid" value="1">
				    <input type="hidden" name="doubleopt" value="1">
                    <input class="textSubmit" name="Submit" type="submit" value="">
                </form>
            </div>

			<script type="text/javascript">

			var icpForm4582 = document.getElementById('icpsignup4582');

			if (document.location.protocol === "https:")

				icpForm4582.action = "https://app.icontact.com/icp/signup.php";
			function verifyRequired4582() {
			  if (icpForm4582["fields_email"].value == "") {
			    icpForm4582["fields_email"].focus();
			    alert("The Email field is required.");
			    return false;
			  }


			return true;
			}
			</script>
            <!--SUBMIT FORM-->
            
        </article>
        
	</section>

	<!-- Section #2 -->
	<section id="second" class="story ideas" data-speed="-8" data-type="background">
        <div class="learnHeader" data-type="sprite" data-offsetY="-385" data-Xposition="50%" data-speed="-2"></div>		
    	<article>
			<div class="shadow_midGrey"></div>
            <p>Prior to the event, we will review potential business proposals from attendees and select <span class="highlight">one winner whose product will be built, live</span>, at the workshop! Even if your product isn’t selected, there is a ton of value at this for you - as part of the event fee everyone’s product will be reviewed by our team in advance, and we will setup free consulting sessions with you to <span class="highlight">discuss technical viability and our recommendations</span>.</p>
            
            <p>We will also run your ideas by <span class="highlight">angel investors and venture capitalists in the US</span>, and let you know what questions they brought up. By the end of this workshop, you will have fully vetted your product idea, and learned the necessary technical and process techniques to build the MVP and start gaining customers!</p>
			<div class="shadow_midGrey"></div>
                       
            <div class="techIcons"></div>           
                        
    	</article>
	</section>
    
	<!-- Section #3 -->
	<section id="third" class="story" data-speed="8" data-type="background" data-offsetY="250">    	
        <div class="storyHeader" data-type="sprite" data-offsetY="-780" data-Xposition="50%" data-speed="-2"></div>		
		<article>
			<form class="container" method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup4620" accept-charset="UTF-8" onsubmit="return verifyRequired4620();" >
				<input type="hidden" name="redirect" value="http://www.icontact.com/www/signup/thanks.html">
				<input type="hidden" name="errorredirect" value="http://www.icontact.com/www/signup/error.html">
	        	<div class="left">
                	<span>Email*</span>
                    <input type="text" name="fields_email">
                    <span>First Name*</span>
                    <input type="text" name="fields_fname">
					<span>Last Name*</span>
                    <input type="text" name="fields_lname">
                    <span>Company*</span>
                    <input type="text" name="fields_business">
                    <span>Phone*</span>
                    <input type="text" name="fields_phone">
                </div>
    	    	<div class="right">
					<p>Enter a quick summary of your product idea here. If we select yours, then our team will build your product, live, at the workshop! All submissions will be reviewed by our team in advance, and so everyone receives free consulting.</p>
                	<span>Your Idea*</span>
                    <textarea name="fields_startupidea" cols="" rows=""></textarea>
					<span>Are you considering attending?</span>
					<input type="checkbox" id="fields_potentialattendee" name="fields_potentialattendee"> <label for="fields_potentialattendee">Yes! I am considering it.</label>
					<input type="hidden" name="listid" value="48292">
				    <input type="hidden" name="specialid:48292" value="68I6">

				    <input type="hidden" name="clientid" value="1114384">
				    <input type="hidden" name="formid" value="4620">
				    <input type="hidden" name="reallistid" value="1">
				    <input type="hidden" name="doubleopt" value="1">
                    <input class="ideaSubmit" name="Submit" type="submit" value="">
                </div>
			</form>
			
			<script type="text/javascript">

			var icpForm4620 = document.getElementById('icpsignup4620');

			if (document.location.protocol === "https:")

				icpForm4620.action = "https://app.icontact.com/icp/signup.php";
			function verifyRequired4620() {
			  if (icpForm4620["fields_email"].value == "") {
			    icpForm4620["fields_email"].focus();
			    alert("The Email field is required.");
			    return false;
			  }
			  if (icpForm4620["fields_fname"].value == "") {
			    icpForm4620["fields_fname"].focus();
			    alert("The First Name field is required.");
			    return false;
			  }
			  if (icpForm4620["fields_lname"].value == "") {
			    icpForm4620["fields_lname"].focus();
			    alert("The Last Name field is required.");
			    return false;
			  }


			return true;
			}
			</script>
        </article>
	</section>	

	<!-- Section #4 -->
	<section id="fourth" class="story" data-speed="-8" data-type="background" data-offsetY="250">
        <div class="smashinglogoC" data-type="sprite" data-offsetY="-1150" data-Xposition="50%" data-speed="-2"></div>		
    	<article>
			<div class="shadow_midGreen"></div>
            	<p>We are still confirming details on dates and locations, but you can expect this workshop to be in <span class="highlight">early 2013</span>, and it should cost about $1500 US. We’ll make sure you have a great time while you’re here in Costa Rica, and when you leave you will be fully armed to <span class="highlight">make your MVP a success!</span></p>
                <p>We will only be <span class="highlight">selecting a limited number of applicants</span> to attend so that you each get the attention that your awesome product idea requires, so <span class="highlight">sign up for our email list now!</span> We’ll let you know as soon as registration is open!</p>
			<div class="shadow_midGreen"></div>
            
            <!--SUBMIT FORM-->
            <div class="newsWrap">
                <span>Sign Up for exclusive news</span>
                <form method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup5183" accept-charset="UTF-8" onsubmit="return verifyRequired5183();" >
					<input type="hidden" name="redirect" value="http://www.icontact.com/www/signup/thanks.html">
					<input type="hidden" name="errorredirect" value="http://www.icontact.com/www/signup/error.html">
                    <input type="text" name="fields_email">
					<input type="hidden" name="listid" value="48291">
					    <input type="hidden" name="specialid:48291" value="S0QU">

					    <input type="hidden" name="clientid" value="1114384">
					    <input type="hidden" name="formid" value="5183">
					    <input type="hidden" name="reallistid" value="1">
					    <input type="hidden" name="doubleopt" value="1">
                    <input class="textSubmit" name="Submit" type="submit" value="">
                </form>
            </div>
			<script type="text/javascript">

			var icpForm5183 = document.getElementById('icpsignup5183');

			if (document.location.protocol === "https:")

				icpForm5183.action = "https://app.icontact.com/icp/signup.php";
			function verifyRequired5183() {
			  if (icpForm5183["fields_email"].value == "") {
			    icpForm5183["fields_email"].focus();
			    alert("The Email field is required.");
			    return false;
			  }


			return true;
			}
			</script>
            <!--SUBMIT FORM-->

    	</article>
	</section>	


	<!-- Section #5 / The End-->
	<!--<section id="footer" class="story" data-speed="-8" data-type="background" data-offsetY="250">    	
		<div class="footerWrap" data-type="sprite" data-offsetY="-1600" data-Xposition="50%" data-speed="-2"></div>	
	</section>-->
	
  </div> <!-- // End of #main -->



  <!-- Our Javascript, starting with jQuery -->
  <%= javascript_include_tag "libs/jquery-1.6.1.min.js" %>
  <%= javascript_include_tag "plugins" %>
  <%= javascript_include_tag "script" %>
  <!--[if lt IE 7 ]>
	<%= javascript_include_tag "libs/dd_belatedpng.js" %>
    <script>DD_belatedPNG.fix("img, .png_bg");
  <![endif]-->

</body>
</html>